<div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="base64-value" style="height: 400pt;"></textarea>
        <label for="base64-value">String to be encode / decode here.</label>
    </div>
    <div class="btn-group">
        <button id="base64-copy" class="btn btn-secondary" title="Copy"><i class="bi-files"></i></button>
        <button id="base64-encode" class="btn btn-primary" title="Encode to Base64.">Encode</button>
        <button id="base64-decode" class="btn btn-primary" title="Decode from Base64.">Decode</button>
    </div>
</div>