<div>
    <form id="uuid-form">
        <label for="uuid-input" class="form-label">UUID</label>
        <div class="input-group">
            <input class="form-control" type="text" id="uuid-input" placeholder="UUID here" aria-label="UUID here">
            <button type="button" id="uuid-copy" class="btn btn-secondary" title="Copy">
                <i class="bi-files"></i>
            </button>
            <button type="button" id="uuid-generate" class="btn btn-primary" title="Generate">Generate</button>
            <div class="invalid-feedback">Invalid UUID.</div>
        </div>
    </form>
</div>